@font-face {
    font-family: 'inter';
    src: url('./Common/Fonts/Inter-VariableFont_slnt\,wght.ttf');
}

:root{
    --font: 'inter';
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: all 0.2s linear;
}

body{
    min-height: 100vh;
}